/*
 * Empty Stylesheet file.
 */
.vbox{
    -fx-border-color: #2e8b57;
    -fx-border-width: 2px;
}

.button{
    
    -fx-background-color: linear-gradient( from 50% 0% to 50% 100%,#2A2E37,#454c5b);
    -fx-border-color: #2A2E37;
    -fx-border-radius: 2px;
    -fx-background-radius: 0px;
    -fx-font-size: 18pt;
}
.date-picker .text-field {
    -fx-control-inner-background:linear-gradient( from 50% 0% to 50% 100%,#2A2E37,#454c5b); ;
    -fx-color: #2A2E37 ;
    
}

.text-field {
    -fx-control-inner-background: #2A2E37 ;
}
* {
    -fx-primary : linear-gradient( from 50% 0% to 50% 100%,#2A2E37,#454c5b);
    -fx-secondary : #e0a206;
    -fx-primarytext : #e0a206;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
}